@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(caveat.woff) format('woff');
}

:root {
  --primary: #7c4dff;
  --tertiary-bis: #FF6969;
}

body {
  max-width: 800px;
  margin: .5em auto 1em;
  padding: 0 1em;
  transform: rotate(-3deg);
}

body, input, textarea, button {
  font: 32pt/1 Caveat, sans-serif;
}

h1 {
  margin: 0;
  color: var(--primary);
  font-size: 3em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  padding: 0;
  border: none;
}

label {
  display: none;
}

input {
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--tertiary-bis);
  font-size: 1.5em;
}
:focus {
  outline: none;
}

#list {
  margin: .5em 0;
}
#list > li {
  margin-bottom: .25em;
}
#list > li:before {
  content: '– ';
}
