body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

body, input, textarea, button {
  font: 12pt/1.3 sans-serif;
}

fieldset {
  padding: 0;
  border: none;
}

fieldset > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
fieldset > ul > li {
  display: flex;
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin: .3em 1em 0 0;
}
label::after {
  content: ': ';
}

input, textarea {
  flex-grow: 1;
  border: 1px solid;
  padding: .33em;
}
